html {
    background-color: black;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    display: none;
}

.logo {
    width: 50vh;
    height: 50vh;
    animation: pulse 1.5s ease-out 0s infinite;
}
@keyframes pulse {
    0%   {width: 50vh; height: 50vh;}
    10%  {width: 52vh; height: 52vh;}
    100% {width: 50vh; height: 50vh;}
}

.links {
    position: absolute;
    top: 80vh;
    width: 100vw;
    left: 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links ul {
}
.links li {
    display: inline;
    margin: 1vh;
}
