html {
    background-color: black;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    display: none;
}

.logo {
    width: 50vh;
    height: 50vh;
    border-radius: 50vh;
    border-width: 2vh;
    border-style: solid;
    border-color: white;
    animation: glow 1.5s ease-out 0s infinite;
}
@keyframes glow {
    0%   {box-shadow: 0 0 0vh 0vh green;}
    10%  {box-shadow: 0 0 10vh 5vh green; border-color: green; border-width: 2.5vh; width: 52vh;}
    100% {box-shadow: 0 0 0vh 0vh green;}
}

.links {
    position: absolute;
    top: 80vh;
    width: 100vw;
    left: 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links ul {
}
.links li {
    display: inline;
    margin: 1vh;
}