html {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    overflow: hidden;

    height: 100vh;
}

h1 {
    display: none;
}

.logo {
    width: 50vh;
    height: 50vh;
}
ul {
    margin:0;
    padding:0;
}
.links li {
    display: inline;
    margin: 1vh;
}
